@import "reset";
@import "layout";

/* Logo */
.logo {
  overflow: hidden;

  margin: 0 auto;
  width: 333px;
  height: 167px;

  background: url("../img/logo.svg") no-repeat 0 0;
  text-indent: -9999px;
}

/* Force */
.force {
  display: flex;
  flex-direction: row;
}

.force__middle {
  position: relative;
  overflow: hidden;
  flex: 4 0 35%;
  padding: 0 2%;
}

.force__spacer {
  position: relative;
  overflow: hidden;
  flex: 0 1 20px;

  padding: 0 2%;
}

.force__slogan {
  position: relative;

  margin: 0 auto;
  max-width: 500px;
  height: 182px;

  background: url("../img/whatside.svg") no-repeat 50%/100%;
  color: transparent;

  font-size: 0;

  &::before,
  &::after {
    position: absolute;
    top: 90px;
    z-index: -1;

    width: 300%;
    height: 1px;

    background: #fff;
    content: '';
  }
  &::before {
    right: 100%;
  }
  &::after {
    left: 100%
  }
}

.force__side {
  position: relative;
  flex: 1 1 250px;
}

.force__logo {
  width: 182px;
  height: 236px;

  .force__side._light & {
    margin: 0 0 0 auto;
    background: url("../img/force-light.svg") no-repeat 0 0;
  }
  .force__side._dark & {
    margin: 0 auto 0 0;
    background: url("../img/force-dark.svg") no-repeat 0 0;
  }
}

.force__count {
  padding-top: 20px;
  width: 182px;

  font-size: 80px;
  font-weight: bold;
  text-align: center;

  .force__side._light & {
    margin: 0 0 0 auto;
  }
  .force__side._dark & {
    margin: 0 auto 0 0;
  }
}

.force__button {
  position: absolute;
  top: 30px;
  z-index: 10;

  width: 120px;
  height: 120px;

  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;

  font-size: 90px;
  font-weight: bold;
  text-align: center;

  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;

  .force__side._light & {
    right: 230px;
  }
  .force__side._dark & {
    left: 230px;
  }

  &:hover {
    color: red;
    border-color: red;
  }
}

.force__rate-number {
  position: absolute;
  top: 30px;
  z-index: 10;
  display: none;

  width: 120px;
  height: 120px;

  font-size: 90px;
  font-weight: bold;
  text-align: center;

  .force__side._light & {
    right: 230px;
  }
  .force__side._dark & {
    left: 230px;
  }
}

/* Settings */
.settings {
  padding: 50px 0 0;
  text-align: center;
}

.settings__rate {
  display: none;

  margin: 0 auto;
  width: 550px;
  height: 80px;

  background-color: gray;

  font-size: 50px;
}

/* Competitions */
.competitions {
  text-align: center;
  font-size: 40px;
}
.competitions__item {
  margin-bottom: 50px;
}
.competitions__link {}