@import "reset";
@import "layout";

/* Logo */
.logo {
  overflow: hidden;
  margin: 0 auto;
  width: 333px;
  height: 167px;
  background: url("../img/logo.svg") no-repeat 0 0;
  text-indent: -9999px;
}

/* Force */
.force {
  display: flex;
  flex-direction: row;
}

.force__middle {
  position: relative;
  overflow: hidden;
  flex: 4 0 35%;
  padding: 0 2%;
}

.force__spacer {
  position: relative;
  overflow: hidden;
  flex: 0 1 20px;
  padding: 0 2%;
}

.force__slogan {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  height: 182px;
  background: url("../img/whatside.svg") no-repeat 50%/100%;
  font-size: 0;
  color: transparent;

  &::before,
  &::after {
    position: absolute;
    top: 90px;
    z-index: -1;
    width: 300%;
    height: 1px;
    background: #fff;
    content: '';
  }
  &::before {
    right: 100%;
  }
  &::after {
    left: 100%
  }
}

.force__side {
  flex: 1 1 250px;
}

.force__logo {
  width: 182px;
  height: 236px;

  .force__side._light & {
    margin: 0 0 0 auto;
    background: url("../img/force-light.svg") no-repeat 0 0;
  }
  .force__side._dark & {
    margin: 0 auto 0 0;
    background: url("../img/force-dark.svg") no-repeat 0 0;
  }
}
.force__count {
  padding-top: 20px;
  width: 182px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;

  .force__side._light & {
    margin: 0 0 0 auto;
  }
  .force__side._dark & {
    margin: 0 auto 0 0;
  }

  &._win {
    color: red;
  }
}