<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star March</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="layout">
        <div class="layout__top">
            <div class="logo">
                <h1 class="logo__title">Star March</h1>
                <p class="logo__sub-title">Episode VIII</p>
            </div>
        </div>
        <div class="layout__bottom">
            <div class="force">
                <div class="force__side _light">
                    <div class="force__logo"></div>
                    <div class="force__count" id="light-counter"></div>
                </div>
                <div class="force__spacer"></div>
                <div class="force__side _dark">
                    <div class="force__logo"></div>
                    <div class="force__count" id="dark-counter"></div>
                </div>
            </div>
        </div>
{#        <div class="layout__bg"></div>#}
    </div>

    <script src="/static/assets/admin.js" type="text/javascript"></script>
</body>
</html>