<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star March</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="layout">
        <div class="layout__top">
            <div class="logo">
                <h1 class="logo__title">Star March</h1>
                <p class="logo__sub-title">Episode VIII</p>
            </div>
        </div>
        <div class="layout__bottom">
            <ul class="competitions">
                <li class="competitions__item">
                    <a class="competitions__link" href="/starmarch/force">Испытание силы</a>
                </li>
                <li class="competitions__item">
                    <a class="competitions__link" href="/starmarch/lego">Боевые машины</a>
                </li>
                <li class="competitions__item">
                    <a class="competitions" href="/starmarch/light">Световые мечи</a>
                </li>
                <li class="competitions__item">
                    <a class="competitions" href="/starmarch/fight">Межгалактическая битва</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>