<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star March</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="layout">
        <div class="layout__top">
            <div class="logo">
                <h1 class="logo__title">Star March</h1>
                <p class="logo__sub-title">Episode VIII</p>
            </div>
        </div>
        <div class="layout__bottom">
            <div class="force">
                <div class="force__side _light">
                    <div class="force__logo"></div>
                    <div class="force__count" id="counter-light"></div>

                    <a class="force__button" data-side="light">+</a>
                    <div class="force__rate-number" data-side="light"></div>
                </div>
                <div class="force__spacer"></div>
                <div class="force__side _dark">
                    <div class="force__logo"></div>
                    <div class="force__count" id="counter-dark"></div>

                    <a class="force__button" data-side="dark">+</a>
                    <div class="force__rate-number" data-side="dark"></div>
                </div>
            </div>
            <div class="settings">
                <input type="number" class="settings__rate" placeholder="Type custom rate">
            </div>
        </div>
    </div>

    <script src="/static/assets/admin.js" type="text/javascript"></script>
</body>
</html>