<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8 March</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="layout">
        <div class="layout__top">
            <div class="logo">
                <h1 class="logo__title"></h1>
                <p class="logo__sub-title"></p>
            </div>
        </div>
        <div class="layout__bottom">
            <div class="force">
                <div class="force__side _light">
                    <div class="force__logo"></div>
                    <div class="force__count">120</div>
                </div>
                <div class="force__middle">
                    <div class="force__slogan"></div>
                </div>
                <div class="force__side _dark">
                    <div class="force__logo"></div>
                    <div class="force__count">10</div>
                </div>
            </div>
        </div>
        <div class="layout__bg"></div>
    </div>

    <script src="/static/assets/index.js" type="text/javascript"></script>
</body>
</html>